body {
  background: url("../NewGame/images/background.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 800px;
}

.header {
  margin-top: 20%;
  text-align: center;
  font-size: 40px;
  font-weight: bolder;
}
